{% extends "base.html" %}
{% block content %}
<section class="page-section">
<div class="container">
<div class="section-header">
<h1>{{ category }}</h1>
<p>Explore premium products</p>
</div>

<div class="row g-4">
{% for product in products %}
<div class="col-md-4">
<div class="product-card">
<img src="{{ url_for('static', filename='uploads/' ~ product.image) }}" class="product-image">
<h4>{{ product.name }}</h4>
<p>MWK {{ product.price }}</p>
<a href="{{ url_for('product_detail', id=product.id) }}" class="hero-btn small-btn">View Product</a>
</div>
</div>
{% endfor %}
</div>

</div>
</section>
{% endblock %}