{% extends "base.html" %}
{% block content %}
<section class="page-section">
<div class="container">
<div class="form-card">
<h1>Add Product</h1>

<form method="POST" enctype="multipart/form-data">

<input type="text" name="name" class="modern-input" placeholder="Product Name">
<input type="number" name="price" class="modern-input" placeholder="Price">
<textarea name="description" class="modern-input textarea-input" placeholder="Description"></textarea>

<button class="hero-btn login-btn">Save Product</button>

</form>
</div>
</div>
</section>
{% endblock %}